.DS_Store
node_modules
/dist

# Large local PDF assets
images/健康誌.pdf
public/health-journal.pdf
public/gift-catalog.pdf


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
